@media screen and (max-width: 992px) {
    .section-heading {
        width: 85%;
    }
    .header-container {
        flex-direction: column;
    }
    .banner .banner-content h2 {
        font-size: 3.3rem;
    }
    .banner .banner-container {
        width: 80%;
    }
    .about-container {
        flex-direction: column;
    }
    .about-container .about-img .about-single-img {
        right: 2%;
    }
    .about-content {
        margin: 30px 0;
    }
    .tours-container {
        flex-direction: column;
        margin: 0px;
    }
    .tour {
        flex-basis: 100%;
    }
    .destination-container {
        grid-template-areas: 
        'destination-img-1 destination-img-1 destination-img-2 destination-img-2'
        'destination-img-3 destination-img-3 destination-img-4 destination-img-4'
        'destination-img-5 destination-img-5 destination-img-5 destination-img-5';
    }
    .destination-container .destination-img {
        height: 250px;
    }
    .destination-container .destination-img-5 {
        width: 60%;
        margin: 0 auto;
    }
    
    .discount-container {
        padding-top: 250px;
    }
    .service-content3 {
        width: 70%;
    }
    .discount-card {
        width: 100%;
    }
    .projects-container {
        flex-direction: column;
    }
    .projects-content, .place-video {
        width: 100%;
    }
   
     
}
@media screen and (max-width: 790px) {
    .section-margin {
        margin-top: 30px;
    }
    .container {
        width: 90%;
    }
    .section-heading {
        width: 100%;
    }
    .banner .banner-content h2 {
        font-size: 2.5rem;
    }
    .banner .banner-container {
        width: 90%;
    }
    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .service-content3 {
        width: 100%;
    }
    .discount-card {
        width: 100%;
        padding: 20px;
    }
    .newsletter-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .section-title {
        font-size: 2rem;
    }
    .header-container {
        flex-direction: row;
    }
    .header-container .logo {
        margin-right: auto;
    }
    .header-container .logo h2 {
        font-size: 2rem;
    }
    .header-container .menu {
        display: none;
    }
    .navbar img {
        display: block;
    }
    .navbar .hamburger-img:hover .header-container .navbar .menu {
        display: block;
    }
    .banner .banner-content h2 {
        font-size: 2rem;
    }
    .banner-form input, .banner-form select, .banner-form button {
        width: 100%;
    }
    
    .about-container .about-img .about-single-img {
        width: 70%;
        right: -10%;
    }
    .about-single, .about-info {
        flex-direction: column;
        text-align: center;
    }
    .about-content .about-button {
        text-align: center;
        margin: 20px auto;
        width: 90%;
    }
    .about-single img {
        width: 100px;
    }
    
    .destination-container {
        grid-template-areas: 
        'destination-img-1 destination-img-1 destination-img-1 destination-img-1'
        'destination-img-2 destination-img-2 destination-img-2 destination-img-2'
        'destination-img-3 destination-img-3 destination-img-3 destination-img-3'
        'destination-img-4 destination-img-4 destination-img-4 destination-img-4'
        'destination-img-5 destination-img-5 destination-img-5 destination-img-5';
    }
    .destination-container .destination-img-5 {
        width: 100%;
        margin: 0 auto;
    }
    .destination-container .destination-img p, 
    .bottom-img .destination-img p {
        font-size: 1.2rem;
    }
    .discount-container {
        padding: 250px 10px 10px 10px ;
    }
    .bottom-img {
        grid-template-columns: repeat(1, 1fr);
     }
     .footer-container {
        width: 90%;
     }
}
@media screen and (max-width: 460px){
    .section-title {
        font-size: 1.5rem;
    }
    .header-container .logo h2 {
        font-size: 1.5rem;
    }
    .header-container .logo h2 img {
        width: 40px;
    }
    .banner .banner-content h2 {
        font-size: 1.5rem;
    }
    .social-icon i {
        font-size: 20px;
        margin: 10px;
     }
}